{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": ["@babel/plugin-transform-react-jsx"],
    "env": {
        "test": {
          "plugins": [
            [
              "istanbul",
              {
                "exclude": [
                  "node_modules/",
                  "client/out/client/src/test/**/*"
                ]
              }
            ]
          ]
        }
      }
}