{
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "node_modules/",
              "client/out/client/src/test/**/*",
            ]
          },
          {
            "useInlineSourceMaps": false
          }
        ]
      ]
    }
  }
}
