node_modules/
/*.vsix
/.vscode-test/
/coverage/
/cypress/videos/
/cypress/screenshots/
/.nyc_output/

/client/dist/
/server/out/
/server/dist/

# These are here for the testbook
/.xsd/

/client/static/xsd/*.xsd.orig