node_modules/
/*.vsix
/.vscode-test/
/coverage/
/cypress/videos/
/cypress/screenshots/
/.nyc_output/

/client/out/
/client/dist/
/client/coverage/
/server/out/
/server/dist/
/server/coverage/

# These are here for the testbook
/.xsd/