**/node_modules
**/*.ts
**/tsconfig*.json
**/webpack.config.js
**/src/
**/static/

.nyc_output/
.xsd/
client/out/
client/specs/
client/package-lock.json
client/package.json
collections/
coverage/
cypress/
cypress.json
docs/
media/
modules/
META-INF/
scripts/
!server/dist
server/package-lock.json
server/package.json
server/README.md

.github
.gitignore
.gitpod.Dockerfile
.gitpod.yml
.vscode
codecov.yaml
jest.config.js
snapshots.js
