/*
 * TODO: https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content
 */

body {
	margin-left: 10px;
	font-family: sans-serif;
}

body.vscode-dark {
	background-color: white;
	color: black;
}
