/*
 * TODO: https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content
 */

body {
	margin-left: 10px;
	font-family: sans-serif;
}

body.vscode-dark {
	background-color: white;
	color: black;
}

/* From the webview styles H2 element */
div[data-type="document-title"] {
    font-size: 2rem;
	font-weight: bold;
	color: #333333
}

cnx-pi { display: none; }