---
name: tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0' # weekly
jobs:
  tests:
    timeout-minutes: 30
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Setup
        run: |
          npm install
          npm run test-compile
      - name: Lint
        run: |
          npm run lint
      - name: Test
        run: |
          xvfb-run -a npm test
      - name: Build Extension
        run: |
          case "$GITHUB_EVENT_NAME" in
            push)
              VERSION_VALUE=${GITHUB_SHA:0:7};;
            pull_request)
              VERSION_VALUE=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH");;
            *)
              VERSION_VALUE="unknown";;
          esac
          echo $VERSION_VALUE
          sed -Ei 's/("version": ")(.+)(",)$/\1\2-'$VERSION_VALUE'\3/' package.json
          npm run package
      - name: Upload Extention
        uses: actions/upload-artifact@v2
        with:
          name: editor-extension
          path: editor-*.vsix
